body {
  background-color: #444;
  color: #ddd;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.container {
  padding: 50px;
  margin-bottom: 50px;
}

.summary {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #aaa;
}

.meta-info {
  float: left;
  width: 400px;
}

#radar {
  float: right;
  margin-right: -40px;
  width: 520px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 10px;
  font-weight: 200;
}

table.horizontal {
  margin-bottom: 40px;
}

table.horizontal td {
  width: 67px;
  text-align: center;
}

table.horizontal #axes td {
  font-size: 10px;
  height: 40px;
  vertical-align: bottom;
}

table.horizontal #points td {
  font-size: 24px;
  font-weight: bold;
  height: 64px;
  opacity: 0.8;
  cursor: pointer;
}

table.horizontal #points td.selected {
  background-color: #eee !important;
  color: #333;
}

#axis-description {
  background-color: #333;
  margin: 0 2px;
}

#axis-description.active {
  background-color: #ccc;
  color: #333;
}

h3 {
  margin: 0;
  padding: 30px;
  font-style: italic;
}

table.vertical {
  float: left;
  width: 400px;
  color: #ccc;
}

table.vertical td {
  font-size: 14px;
  height: 88px;
  padding: 20px;
  background-color: #333;
}

table.vertical td.level-number {
  width: 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

table.vertical td.active {
  background-color: #ccc;
  color: #333;
}

h4 {
  font-size: 20px;
  font-weight: normal;
}

.list {
  float: left;
  height: 409px;
  width: 598px;
  margin-top: 1px;
  padding: 20px 50px;
  background-color: #333;
}

.list ul {
  list-style-type: square;
}

.list li {
  font-size: 16px;
  line-height: 30px;
}

.clearfix {
  clear: both;
}
